<div class="row content">
    <div class="col-md-4">
        <img class="img-responsive full-image" src="images/classes-1.jpg"/>
        <img class="img-responsive full-image" src="images/classes-2.jpg"/>
        <img class="img-responsive full-image" src="images/classes-3.jpg"/>
    </div>


    <div class="col-md-8 our-classes">


        <h3 class="lead-header">Our Classes</h3>

        <span class="age-group">Juniors 4-7 yrs</span><br>
        <span>Instructors: Robert, Marko and Jessica</span>
        <p>A fun half-hour class specifically designed for our youngest boys and girls. We take each student through
            simple Jiu Jitsu techniques to strengthen their bodies, while teaching them how to develop an overall
            awareness of their environment.</p>

        <span class="age-group">Kids 7-12 yrs</span><br>
        <span >Instructors: Robert, Marko and Jessica</span>
        <p>Our Kids Jiu Jitsu lessons are tailored for the age group between 7 and 12, which are the years when many
            major social challenges such as bullying arise in the school setting. By building a strong foundation on
            which to lay future martial arts education, each student will gain confidence, discipline and learn mutual
            respect, which increases their social skills.</p>

        <span class="age-group">Teenagers 13-16 yrs</span><br>
        <span>Instructors: Robert, Marko and Jessica</span>
        <p>As a child transitions to being a teenager, it is important for them to develop discipline, a positive
            attitude and a healthy lifestyle that will stay with them for life. It's also been proven that learning
            these habits improves academic performance. The Teenage Jiu Jitsu classes at Roots St George focus on a
            deeper understanding of technique and coordination, and an introduction to street self-defence against armed
            attacks.</p>

        <span class="age-group">Jiu Jitsu Fundamentals</span><br>
        <span>Instructors: Robert, Tim, Jason</span>
        <p>This is the introductory adult Jiu Jitsu program at Roots St George. Our classes centre on fundamental Jiu
            Jitsu positions and core self-defence techniques, with the goal of progressing you up to more Intermediate
            combinations in due time. There is a strong emphasis on correct postures and improving balance, which will
            give you an overview of Jiu Jitsu as a martial art. </p>

        <span class="age-group">Jiu Jitsu Beginner/Intermediate</span><br>
        <span>Instructor: Robert</span>
        <p>Once you advance to the Roots Beginner/Intermediate program, the focus turns to refining the essential Jiu
            Jitsu positions and self-defence techniques, as you undergo overall conditioning training. With the target
            of moving you up to more Advanced combinations in due time, you are sure to experience dramatic fitness
            benefits, including a stronger core and a boost to your cardiovascular health. Warning: This is the time
            that most Jiu Jitsu students experience a serious addiction to the martial art.</p>

        <span class="age-group">Jiu Jitsu Intermediate/Advanced</span><br>
        <span>Instructor: Robert</span>
        <p>At this higher stage of skill, the Roots program is designed with the objective of forging a deeper
            understanding of Gi techniques, and their natural evolution to competition Gi, No Gi and MMA.</p>
        <p>Our Intermediate/Advanced lessons also make a specific point of preparing you for more complex street
            scenarios, as shaped by an unpredictable and ever-changing environment.</p>

        <span class="age-group">No Gi Submission Wrestling</span><br>
        <span>Instructor: Steffen</span>
        <p>An intense cardio and conditioning class designed to dramatically improve your takedowns. The lessons are
            highly recommended for serious Jiu Jitsu and MMA competitors, or anyone on the hunt for an extreme physical
            workout.</p>


        <span class="age-group">Women's Jiu Jitsu</span><br>
        <span>Instructor: Phillipa</span>
        <p>Three-time World Champion Phillipa Kato teaches the female-only Jiu Jitsu class at Roots St George. At the
            core of this class is the goal to empower women to show them Jiu Jitsu for self-protection: that is, the
            self-preservation of yourself and your loved ones. "The classes aim to wipe the programming that women are
            raised with," explains Phillipa, "We're taught to have manners, say yes, be nice... which has its place in
            social situations but not in self-protection. In order to protect yourself, you need to lose that obedient
            victim mentality."</p>
        <p>Self-protection teaches you to have a plan, and be aware of your environment at all times. Our Women's Jiu
            Jitsu classes open you up to new techniques and new ways of thinking, and literally break down the psyche
            that keeps a woman from physically standing up for herself. This means that if the situation arises, you are
            able to protect yourself without hesitation because the techniques are second nature to you. And a strong
            mentality and confidence are the very things that deter a potential attacker in the first place.</p>
        <p>Whether or not you've got a background in martial arts: our program is designed for anyone to join at any
            time. The classes are taught in a fun and safe environment, and we welcome mums with bubs in our Saturday
            classes.</p>


        <span class="age-group">Jiu Jitsu Drills and Techniques</span><br>
        <span>Instructor: Grigor</span>
        <p>This is a one-hour class that allows you to refine your balance and timing through a series of specific
            drills. Jiu Jitsu techniques are demonstrated, and then repeated and repeated and repeated... We strongly
            recommend this class for all skill levels.</p>


        <span class="age-group">Jiu Jitsu Competition Training</span><br>
        <span>Instructors: Robert, Steffen</span>
        <p>If you want to launch into Competition Jiu Jitsu - you're gonna love this. Constructed to improve the
            sporting aspect of Jiu Jitsu, in this class we work with you to devise your game plan: customising it to
            your body type and your favourite techniques, with an analysis of your previous performances.</p>

        <span class="age-group">Jiu Jitsu</span><br>
        <span>Instructor: Robert</span>
        <p>Rise and roll! Our early morning Jiu Jitsu class is an all-rounder that deals with every aspect of your
            training. We got it covered: from basics to advanced techniques; takedowns and submissions; sport Jiu Jitsu
            to MMA and the street applications of Jiu Jitsu. All skill levels would benefit from attending.</p>


        <span class="age-group">Thai Boxing Beginner/Intermediate</span><br>
        <span>Instructors: Rob R, Chris</span>
        <p>Set yourself up to get a head start towards your goals with our introductory Muay Thai classes. In these
            non-sparring lessons, we use heavy bags and pad work to take you through a series of offensive and defensive
            techniques and drills. Muay Thai uses the body's "eight limbs", that is: two elbows, two knees, two fists
            and two shins, to give you an incredible head-to-toe workout. You can only start to imagine how learning
            this most effective stand-up martial art is going to discipline, condition and strengthen your body. Let the
            sculpting begin!</p>

        <span class="age-group">Thai Boxing Intermediate/Advanced</span><br>
        <span>Instructors: Rob R, Chris</span>
        <p>Get ready to take your training and fitness to the next level with our Intermediate/Advanced Thai Boxing
            classes. At this higher level of skill, the majority of techniques are performed with a partner. This allows
            you to refine your skills, and test your timing, range, strategy and technique against an opponent. As well
            as sparring, learning a series of defence and counter techniques, and one-on-one drills, a central part of
            the martial art is body conditioning. Kru Robert's training to increase core strength, balance and hand-eye
            coordination is distinctly designed to promote the level of fitness and stout required for ring
            competition.</p>

        <span class="age-group">Privates</span>
        <p>If you've been thinking about how to gain the edge ahead in your martial arts - consider booking private
            lessons. Picture this: one-on-one with an expert, you work to increase your technique, fitness or
            conditioning. You customise the lessons to suit you; choose a time that suits you; and then get ready to
            learn the details that can make a world of difference. Private and semi-private lessons are available in
            half-hour or one-hour blocks at UDA. If you're interested in semi-private lessons: create a group of two to
            four students, maximum: in order to take full advantage of the lesson.</p>


    </div>
</div>
