<div class="row content timetable">
    <div class="header hidden-xs day-header">
        <div class="day col-sm-1 col-md-1">Monday</div>
        <div class="day col-sm-1 col-md-1">Tuesday</div>
        <div class="day col-sm-1 col-md-1">Wednesday</div>
        <div class="day col-sm-1 col-md-1">Thursday</div>
        <div class="day col-sm-1 col-md-1">Friday</div>
        <div class="day col-sm-1 col-md-1">Saturday</div>
        <div class="day col-sm-1 col-md-1">Sunday</div>

    </div>
    <div class="day col-sm-1 col-md-1">
        <div class="hidden-lg hidden-md hidden-sm day-header">
            Monday
        </div>
        <div class="classes">
            <!-- Monday -->
            <div class="one jiu-jitsu">
                <div>
                    <p class="time">6.30 - 7.30 am</p>
                    <p class="name">JIU JITSU</p>
                </div>
            </div>


            <div class="privates large-private">
                <div>

                    <p class="time">7.30 - 4 pm</p>
                    <p class="name">PRIVATES</p>
                </div>

            </div>

            <div class="half kids">
                <div>
                    <p class="time">4 - 4.30 pm</p>
                    <p class="name">JUNIORS 4-7 yrs</p>
                </div>
            </div>

            <div class="fourty kids">
                <div>
                    <p class="time">4.30 - 5.20 pm</p>
                    <p class="name">KIDS 7-12 yrs</p>
                </div>
            </div>

            <div class="fourty kids">
                <div>
                    <p class="time">5.20 - 6.20 pm</p>
                    <p class="name">TEENS 13-16 yrs</p>
                </div>
            </div>


            <div class="one jiu-jitsu">
                <div>
                    <p class="time">6.20 - 7:20 pm</p>
                    <p class="name">JIU JITSU Beginners</p>
                </div>
            </div>

            <div class="one jiu-jitsu">
                <div>
                    <p class="time">7:20 - 8:30 pm</p>
                    <p class="name">JIU JITSU Advanced</p>
                </div>
            </div>
        </div>
    </div>
    <div class="day col-sm-1 col-md-1">
        <div class="hidden-lg hidden-md hidden-sm day-header">
            Tuesday
        </div>
        <div class="classes">
            <!--<div class="one functional">
                <div>
                    <p class="time">6.00 - 6.45 am</p>
                    <p class="name">FUNCTIONAL TRAINING</p>
                </div>
            </div>-->
            <div class="privates nintey">
                <div>

                    <p class="time">7 - 12 pm</p>
                    <p class="name">PRIVATES</p>
                </div>

            </div>
            <div class="one jiu-jitsu">
                <div>
                    <p class="time">12 - 1 pm</p>
                    <p class="name">JIU JITSU</p>
                </div>
            </div>
            <div class="privates medium-private">
                <div>
                    <p class="time">1 - 5 pm</p>
                    <p class="name">PRIVATES</p>
                </div>
            </div>

            <div class="one no-gi">
                <div>
                    <p class="time">5 - 6 pm</p>
                    <p class="name">NO GI SUBMISSION WRESTLING</p>
                </div>
            </div>
            <!--<div class="one functional">
                <div>
                    <p class="time">6 - 6.45 pm</p>
                    <p class="name">FUNCTIONAL TRAINING</p>
                </div>
            </div>-->
            <div class="empty">
            </div>

            <!--<div class="one women-only">
                <div>
                    <p class="time">6 - 7pm</p>
                    <p class="name">WOMEN'S JIU JITSU</p>
                </div>
            </div>-->

            <div class="one thai-beginner">
                <div>
                    <p class="time">6.45 - 7.30 pm</p>
                    <p class="name">THAI BOXING BEG / INT</p>
                </div>
            </div>

            <div class="one thai-advanced">
                <div>
                    <p class="time">7.30 - 8.15 pm</p>
                    <p class="name">THAI BOXING INT / ADV</p>
                </div>
            </div>

        </div>
    </div>
    <div class="day col-sm-1 col-md-1">
        <div class="hidden-lg hidden-md hidden-sm day-header">
            Wednesday
        </div>
        <div class="classes">
            <div class="one jiu-jitsu">
                <div>
                    <p class="time">6.30 - 7.30 am</p>
                    <p class="name">JIU JITSU</p>
                </div>
            </div>


            <div class="privates large-private">
                <div>

                    <p class="time">7.30 - 4 pm</p>
                    <p class="name">PRIVATES</p>
                </div>

            </div>

            <div class="half kids">
                <div>
                    <p class="time">4 - 4.30 pm</p>
                    <p class="name">JUNIORS 4-7 yrs</p>
                </div>
            </div>

            <div class="fourty kids">
                <div>
                    <p class="time">4.30 - 5.20 pm</p>
                    <p class="name">KIDS 7-12 yrs</p>
                </div>
            </div>

            <div class="fourty kids">
                <div>
                    <p class="time">5.20 - 6.20 pm</p>
                    <p class="name">TEENS 13-16 yrs</p>
                </div>
            </div>

            <div class="one jiu-jitsu">
                <div>
                    <p class="time">6.20 - 7:20 pm</p>
                    <p class="name">JIU JITSU Beginners</p>
                </div>
            </div>

            <div class="one jiu-jitsu">
                <div>
                    <p class="time">7:20 - 8:30 pm</p>
                    <p class="name">JIU JITSU Advanced</p>
                </div>
            </div>


        </div>
    </div>
    <div class="day col-sm-1 col-md-1">
        <div class="hidden-lg hidden-md hidden-sm day-header">
            Thursday
        </div>
        <div class="classes">
            <!--<div class="one functional">
                <div>
                    <p class="time">6 - 6.45 am</p>
                    <p class="name">FUNCTIONAL TRAINING</p>
                </div>
            </div>-->
            <div class="privates nintey">
                <div>

                    <p class="time">7 - 12 pm</p>
                    <p class="name">PRIVATES</p>
                </div>

            </div>
            <div class="one jiu-jitsu">
                <div>
                    <p class="time">12 - 1 pm</p>
                    <p class="name">JIU JITSU</p>
                </div>
            </div>
            <div class="privates medium-private">
                <div>
                    <p class="time">1 - 5 pm</p>
                    <p class="name">PRIVATES</p>
                </div>
            </div>

            <div class="one no-gi">
                <div>
                    <p class="time">5 - 6 pm</p>
                    <p class="name">NO GI SUBMISSION WRESTLING</p>
                </div>
            </div>
            <!--<div class="one functional">
                <div>
                    <p class="time">6 - 6.45 pm</p>
                    <p class="name">FUNCTIONAL TRAINING</p>
                </div>
            </div>-->
            <div class="empty">
            </div>

            <!--<div class="one women-only">
                <div>
                    <p class="time">6 - 7pm</p>
                    <p class="name">WOMEN'S JIU JITSU</p>
                </div>
            </div>-->

            <div class="one thai-beginner">
                <div>
                    <p class="time">6.45 - 7.30 pm</p>
                    <p class="name">THAI BOXING BEG/INT</p>
                </div>
            </div>

            <div class="one thai-advanced">
                <div>
                    <p class="time">7.30 - 8.15 pm</p>
                    <p class="name">THAI BOXING INT/ADV</p>
                </div>
            </div>

        </div>
    </div>
    <div class="day col-sm-1 col-md-1">
        <div class="hidden-lg hidden-md hidden-sm day-header">
            Friday
        </div>
        <div class="classes">
            <div class="one no-gi">
                <div>
                    <p class="time">6.30 - 7.30 am</p>
                    <p class="name">NO Gi SUBMISSION WRESTLING</p>
                </div>
            </div>

            <div class="privates one">
                <div>
                    <p class="time">7.30 - 12 pm</p>
                    <p class="name">PRIVATES</p>
                </div>

            </div>
            <div class="one no-gi">
                <div>
                    <p class="time">12 - 1 pm</p>
                    <p class="name">NO GI SUBMISSION WRESTLING</p>
                </div>
            </div>

            <div class="privates one">
                <div>
                    <p class="time">1 - 4 pm</p>
                    <p class="name">PRIVATES</p>
                </div>

            </div>

            <div class="half kids">
                <div>
                    <p class="time">4 - 4.30 pm</p>
                    <p class="name">JUNIORS 4-7 yrs</p>
                </div>
            </div>

            <div class="fourty kids">
                <div>
                    <p class="time">4.30 - 5.20 pm</p>
                    <p class="name">KIDS 7-12 yrs</p>
                </div>
            </div>

            <div class="fourty kids">
                <div>
                    <p class="time">5.20 - 6.20p m</p>
                    <p class="name">TEENS 13-16 yrs</p>
                </div>
            </div>

            <div class="one jiu-jitsu">
                <div>
                    <p class="time">6.20 - 7.30 pm</p>
                    <p class="name">JIU JITSU No Gi</p>
                </div>
            </div>
            <div class="privates one">
                <div>
                    <p class="time">7.30 pm</p>
                    <p class="name">CLOSED</p>
                </div>
            </div>

            <!--<div class="one thai-advanced">
                <div>
                    <p class="time">7.30 - 8:30 pm</p>
                    <p class="name">THAI BOXING</p>
                </div>
            </div>-->

        </div>

    </div>
    <div class="day col-sm-1 col-md-1">
        <div class="hidden-lg hidden-md hidden-sm day-header">
            Saturday
        </div>
        <div class="classes">
            <div class="empty">
            </div>

            <!--<div class="one functional">
                <div>
                    <p class="time">8 - 9 am</p>
                    <p class="name">FUNCTIONAL TRAINING</p>
                </div>
            </div>-->
            <div class="thai-beginner one">
                <div>
                    <p class="time">9 - 10 am</p>
                    <p class="name">KICKBOXING</p>
                </div>
            </div>
            <div class="one large-private">
                <div>
                    <p class="time">10 - 1 pm</p>
                    <p class="name">PRIVATES</p>
                </div>
            </div>
            <div class="nintey no-gi">
                <div>
                    <p class="time">1- 2.30 pm</p>
                    <p class="name">MIXED MARTIAL ARTS</p>
                </div>
            </div>
            <div class="nintey women-only">
                <div>
                    <p class="time">2:30- 4 pm</p>
                    <p class="name">WOMEN SELF DEFENSE</p>
                </div>
            </div>

            <!--<div class="one women-only">
                <div>
                    <p class="time">10 - 11.30am</p>
                    <p class="name">WOMEN'S JIU JITSU (Mums + Bubs)</p>
                </div>
            </div>-->
            <div class="nintey jiu-jitsu">
                <div>
                    <p class="time">5 - 6.30 pm</p>
                    <p class="name">COMPETITION CLASS</p>
                </div>
            </div>
            <div class="privates one">
                <div>
                    <p class="time">6.30 pm</p>
                    <p class="name">CLOSED</p>
                </div>
            </div>


        </div>
    </div>
    <div class="day col-sm-1 col-md-1">
        <div class="hidden-lg hidden-md hidden-sm day-header">
            Sunday
        </div>
        <div class="classes" >
            <div class="privates xlarge-private">
                <div>
                    <p>CLOSED</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row content">
    <a href="/Timetable.pdf">Download the timetable</a>.
</div>


