<div class="row content">
    <div class="col-md-4">
        <a href="/#/media/photo-gallery/2014-02-03-raymond">
            <h4>Raymond Floro Knife Defence Seminar (2014)</h4>
            <img class="img-responsive full-image" src="images/media/2014-feb/1.jpg"/>
        </a>
    </div>
    <div class="col-md-4">
        <a href="/#/media/photo-gallery/2013-09-15-girls">
            <h4>NSW Girls Roll Call hosted by Roots St George (2013)</h4>
            <img class="img-responsive full-image" src="images/media/2013-sep/1.jpg"/>
        </a>
    </div>
</div>