<h3>{{photoGalleryCtrl.gallery.title}}</h3>

<div id="pictures">
    <a ng-href="{{picture.src}}" title="{{picture.title}}" data-gallery="#blueimp-gallery-pictures" ng-repeat="picture in photoGalleryCtrl.gallery.photos">
        <img ng-src="{{picture.thumbnail}}" alt="{{picture.title}}">
    </a>
</div>


<div id="blueimp-gallery" class="blueimp-gallery">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>
