<div class="row content">
  <div class="col-md-4">
    <img class="img-responsive full-image" src="images/experience-1.jpg"/>
    <img class="img-responsive full-image hidden-xs hidden-sm" src="images/experience-2.jpg"/>
  </div>
  <div class="col-md-8">
    <h2 class="lead-header">Experience UDA</h2>
    <h3>Come in and experience a lesson at </br>Ultimate Defence Academy</h3>

    <h4>Don't Get Fit, Get "Fighting Fit"!</h4>
    <p>
    Don't just perform mundane exercises! At UDA you're actually developing a lifelong skill in a fun and interactive
    environment. And when you're having fun, you stay motivated and you're bound to last longer in the activity.
    </p>

    <h4>Self-Defence Classes to Suit All Levels</h4>
    <p>
    Whether you're a weekend warrior or looking to train at an elite level, the <a ng-href="#/timetable">UDA
    Timetable</a> covers classes in Jiu Jitsu, wrestling and Thai Boxing that are sure to suit you. Just ask us about
    taking advantage of our family packages.
    </p>

    <h4>FIRST LESSON FREE!</h4>
    <p>
    All you need to do is come in and see how you go!
    </p>

    <h4>Proven Track Record</h4>
    <p>
    Our main goal at UDA is to improve your skills in self-defence, build confidence and encourage an overall healthy
    lifestyle through martial arts. While competition is not our main focus, we certainly have a strong history of being
    good at it.
    </p>

    <p>
      We've trained Australia's first Abu Dhabi World Professional Jiu Jitsu Gi and No Gi Champions, Australia's first
      Kid's World Champions, and our students have won countless numbers of State and National Championships.
    </p>

    <h4>Modern and World-Class Equipment and Facilities</h4>
    <p>
    With our 50ml Zebra Tatami mats, wall-to-wall padding and top quality Fairtex Thai Boxing equipment; your experience
    at UDA is sure to be first-rate. Find out more about <a ng-href="#/about/our-facilities">Our Facilities</a>.
    </p>

    <h4>Great, Central Location</h4>
    <p>
    Our club is situated at the heart of Rockdale in southern Sydney. With quick and easy access from all directions,
    driving or catching public transport is a breeze. Just check out our <a ng-href="#/contact">Contact</a>
    page for directions. But the best part: parking is free and plenty.
    </p>
  </div>
</div>
