<div class="row content">
  <div class="col-md-4">
    <img class="img-responsive full-image" src="images/col-2.jpg"/>
  </div>
  <div class="col-md-8">
    <h3>Fitness + Fun:</h3>
    <h4>Get "fighting fit" in world-class facility</h4>

    <div>
      <p>Our main focus at UDA is to improve your self-defence skills, while boosting your confidence, health and
        fitness.</p>
      <p>You're never performing boring exercises on autopilot. At UDA you're actively learning a skill for life with a
        bunch of like-minded people. And you do it all in a facility that will take your breath away, or at the very
        least, make you smile and nod enthusiastically.</p>
      <p>For your superior comfort and performance, we've spared no expense in decking out our academy with the best the
        industry has to offer. Our floors are covered in Zebra Tatami mats; every inch of our walls are padded and the
        highest grade Fairtex Thai Boxing equipment adorns our dojo, just waiting for you to check it out.</p>
      <p>When you're enjoying yourself: it will leave you wanting more. Then just watch yourself get fit as a
        consequence of the fun you're having.</p>
    </div>
  </div>
</div>
<div class="row">
  <a ng-href="/#/contact"><img class="img-responsive" src="images/free-lesson-banner.png"/></a>
</div>
