<div class="row content">

  <div class="col-md-4">
    <h3 class="lead-header">From Japan to Brazil to Sydney:</h3>
    <h4>The Jiu-Jitsu lineage of Roots St George</h4>
    <p class="quote">The Roots lineage of instructors is proudly traced back to the father of Brazilian Jiu Jitsu,
      Mitsuyo Maeda. The pioneers of Jiu Jitsu taught the gentle art as a practice for life; training people to be ready
      in all situations of self-defence. They sought to share the effectiveness of Jiu Jitsu with everyone, and the fact
      that it has journeyed from Tokyo, to the legendary Belem do Para where Maeda taught his first Brazilian students,
      to Sydney, shows how their vision landed on our shores. </p>

  </div>

 <div class="col-md-8">

    <p class="quote">Brazilian Jiu Jitsu started a century ago when Grand Master Carlos Gracie learned the essential
      secrets of traditional Jiu Jitsu from Maeda, a Japanese champion living in Brazil. </p>


    <p>
      Realising the significance of the martial art, Carlos in turn trained his four younger brothers, and in 1925, they
      opened the first Jiu Jitsu academy in Brazil. But it was the youngest brother, by the name of Helio, who took a
      special interest in the use of Jiu Jitsu. </p>

    <p>Helio Gracie was not a large man by any means. Due to his physical size, he was motivated to adapt the basic
      rules of Jiu Jitsu to suit smaller opponents. He was able to optimise the force he was releasing from his body, by
      applying the law of leverage to each technique. This meant that as a smaller challenger, Helio could contest the
      brute force of a larger opponent, and win. Such was the proficiency of Jiu Jitsu, that Helio Gracie taught the
      martial art to each of his nine children.</p>

    <p>The most skillful of these children was Rickson Gracie. Throughout the 1980s and 1990s, Rickson competed
      professionally as a mixed martial artist. With undefeated records in mixed martial arts and tournament Jiu Jitsu,
      Rickson stands out as the champion of the Gracie family; so his natural evolution to being a prominent instructor
      of Jiu Jitsu in his homeland is no surprise.</p>

    <p>One of Rickson's most famous students was Jorge Pereira, three-time Open MMA Brazilian Champion in 1996, 1997 and
      1998. A passionate advocate of the martial art, Jorge was highly motivated by the knowledge he gained from his
      instructor. "Rickson is my master and a great inspiration", said Jorge in an interview in 2012, "with him I
      developed the warrior spirit that I instill in all of my students". And the proof is in meeting some of Jorge's
      students.</p>

    <p>In a historical move that marked the formal start of Jiu Jitsu in Australia in the year 2000, one of Jorge's top
      students, Paulo Guimaraes, relocated to Sydney. Also a competitive surfer and professional pilot, Paulo became the
      first Brazilian BJJ black belt to teach and live in Australia, opening the first Roots BJJ dojo in Bondi at the
      end of 2001.</p>

    <p>Today, Roots is a club with a reputation for breeding champions. As of 2013, the Roots team has won 8 BJJ World
      Championships, 52 Australian Submission Championships, 33 Pan Pacific BJJ Championships, 25 Australian BJJ
      Championships, and 89 NSW State Championships. With a strong competitive spirit and culture of consistently
      excelling in the art of Jiu Jitsu, Paulo has handed out 6 black belts since establishing Roots.</p>

    <p>Head instructor of Roots St George, Robert Naumoski, received his black belt from Paulo and Jorge Pereira in
      2010. Following the example of the instructors in the Roots family tree, Robert's attitude to Jiu Jitsu is all
      encompassing, "I would best describe BJJ as the ultimate system for self-preservation and self-protection, and in
      turn, the best way to protect your loved ones if it came to that," says Rob. "Originally, for me, Jiu Jitsu was a
      way to improve my MMA", he reveals, "But there was a group of us training day in and day out with Paulo. As he
      coached us and we got better and better together, I finally understood what the warrior spirit was about." It's
      this understanding that Robert planted as the seed of the culture at Roots St George, which can be felt by every
      student that has trained on its mats.</p>

    <p>The same year that he received his black belt, the opportunity arose to establish the first Roots club on
      European soil: thus the birth of Roots Macedonia. As the first ever black belt of Macedonian ancestry, Robert is
      also head instructor at Roots Macedonia; and holds the belief that the Roots team will train more world-class Jiu
      Jitsu champions, and pass on this martial arts knowledge to as many people as possible.</p>

    <p>The future for the Roots family is an exciting one. </p>

  </div>
</div>
