<div class="row content">
  <h2 class="text-center">JIU JITSU</h2>

  <div class="panel-group" id="bjj-accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#bjj-accordion" data-target="#rob-naumoski">
            <h3 class="text-center instructor black1">PROF. ROBERT NAUMOSKI</h3>
          </a>
        </h4>
      </div>
      <div id="rob-naumoski" class="panel-collapse collapse in">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-4">
              <img class="img-responsive" src="images/experience-1.jpg"/>
            </div>
            <div class="col-md-8">
              <p>Robert's first exposure to Brazilian Jiu Jitsu was coincidental. "While I was training weights at my
                local gym,
                the owner, a BJJ blue belt, invited me to train some grappling downstairs in the basement," recalls Rob,
                "I'd
                done martial arts since I was a child: Ninjitsu, Boxing, Kick Boxing, Wrestling, Aikido, Pankration...
                but BJJ
                felt fresh. I couldn't believe it - the gym owner was twice my age and half my size, and in those two
                hours, no
                matter how I came at him, he got out of it."</p>
              <p>So the story begins. Two and half years of BJJ training later, Rob saw an article in Blitz magazine
                about Prof.
                Paulo Guimaraes that caught his eye. "Once I met Paulo I knew I'd found my instructor for Jiu Jitsu," he
                proclaims, about the first Brazilian BJJ black belt living and training in Australia, "I really enjoy
                his
                teaching style. He showed us that Jiu Jitsu isn't just a martial art; it's part of a lifestyle of health
                and
                wellbeing."</p>
              <p>In 2010, Robert received his black belt from Prof. Paulo Guimaraes and Mestre Jorge Pereira, making him
                the
                first BJJ black belt of Macedonian heritage in history. Following this, Rob headed to Europe to launch
                Roots
                Macedonia: the first of the Roots family on the continent. In 2013, Rob's seminars in the country
                extended to
                elite law enforcement units and military Special Forces. "Our mission is to excel every student beyond
                their
                expectations, so they can maximise their potential", explains Rob.</p>
              <p>And looking at his list of credentials: five NSW titles, three Australian titles, and four Pan Pacific
                Championships; black belts in Ninjitsu, Aikido and Pankration; coach to the first Australian World Pro
                Jiu Jitsu
                Gi and No Gi Champions, and the first Australian Kid's World Champions; with a Sports Psychology degree
                to boot;
                you know he's speaking from an awesome set of experiences.</p>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#bjj-accordion" data-target="#phillipa-kato">
            <h3 class="text-center instructor black">PROF. PHILLIPA KATO</h3>
          </a>
        </h4>
      </div>
      <div id="phillipa-kato" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-4">
              <img class="img-responsive" src="images/experience-1.jpg"/>
            </div>
            <div class="col-md-8">
              <p>A first meeting with two-time international titleholder, Phillipa Kato, reveals a woman with major
                plans for
                Australian Jiu Jitsu. "I have a long-term dream to teach and attract more women and children into the
                Jiu Jitsu
                community," says Phillipa, "In Jiu Jitsu, it's not about your size, it's not about your strength... it's
                about
                your skill. Trust me when I say, there isn't a better system for self-defence out there." </p>
              <p>Phillipa is the definitive ambassador for Australian Women's Jiu Jitsu. Her journey from girl-next-door
                to
                World Jiu Jitsu champion, and first female BJJ black belt in NSW is one of the most inspiring you'll
                ever hear
                about. "I was working in hospitality when I started training BJJ," she recalls, "I was 30, I had zero
                experience
                in martial arts, but I decided, then and there: I wanted to change my lifestyle." </p>
              <p>Soon after, Phillipa looked up Roots Jiu Jitsu, and started a serious training schedule under Prof.
                Paulo
                Guimaraes. After she took her first World title with only 16 months of training under her belt, the wins
                just
                kept coming: two NSW titles, four national titles in Wrestling and BJJ, Australian representative at the
                World
                Pro Jiu Jitsu trials in Abu Dhabi, and then another World Cup.</p>
              <p>Yet Phillipa is so down to earth and warm-spirited, you can't help but be encouraged when she says that
                with
                some hard work and planning, anyone can do it. "I can promise you that Jiu Jitsu will improve your
                physical
                fitness, self-confidence and self-discipline," she smiles, "I know this, because I've experienced it
                first
                hand." Well, you gotta trust that. </p>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#bjj-accordion" data-target="#steffen-krieg">
            <h3 class="text-center instructor black">PROF. STEFFEN KRIEG</h3>
          </a>
        </h4>
      </div>
      <div id="steffen-krieg" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-4">
              <img class="img-responsive" src="images/experience-1.jpg"/>
            </div>
            <div class="col-md-8">
              <p>As a young adult, Steffen Krieg was competing at an elite level in the 100m and 200m sprints, with
                dreams of
                representing Australia at the Olympic Games. As a means to cross-train, he casually attended wrestling
                classes;
                and the road quickly led to Jiu Jitsu. "It's an entire lifestyle for me," he says, explaining what Jiu
                Jitsu
                means to him, "along with this lifestyle, comes the need to better myself consistently and then pass
                this
                knowledge onto others." </p>
              <p>Really humble for a guy who is the first ever Australian to win the World Pro Jiu Jitsu trials in Abu
                Dhabi.
                Not to mention, the four State Championships and three Australian Championships he won along the
                way.</p>
              <p>So what is it that drives him? "There are many reasons why I continue with this martial art. For the
                most part,
                I love the sporting aspect of it. It's a passion I can't do without," Steffen explains, "And I'm bound
                to the
                Roots team: our friendships are built on hard work, understanding and respect. That's what makes us a
                family."</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#bjj-accordion" data-target="#tim-ritchie">
            <h3 class="text-center instructor black">PROF. TIM RITCHIE</h3>
          </a>
        </h4>
      </div>
      <div id="tim-ritchie" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-4">
              <img class="img-responsive" src="images/experience-1.jpg"/>
            </div>
            <div class="col-md-8">
              <p>While living in Japan at the time the early UFC fighters started to fire up the hearts of martial
                artists the
                world over, Tim Ritchie was convinced about BJJ before he returned home. "He was phenomenal", he says of
                Royce
                Gracie's dominance in the competition, "I've trained boxing and aikido when I was younger, but this was
                something else for me. When I got back, I went straight to training with Prof. Paulo Guimaraes". </p>
              <p>And you can't help but sit up and pay attention when Tim starts sounding off his track record in
                tournaments:
                Four NSW Championships, four Australian Championships and a Pan Pacific Championship. "Aside from being
                an
                awesome self defense system, BJJ has a very close knit sense of family that you can't find anywhere
                else", says
                Tim faithfully, "I think it's really important to make everyone feel like they're joining a club where
                we all
                look out for each other and help each other grow and evolve."</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#bjj-accordion" data-target="#jason-awada">
            <h3 class="text-center instructor brown">JASON AWADA</h3>
          </a>
        </h4>
      </div>
      <div id="jason-awada" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-4">
              <img class="img-responsive" src="images/experience-1.jpg"/>
            </div>
            <div class="col-md-8">
              <p>A husband and father of three, Jason Awada was first introduced to Jiu Jitsu when his younger brother
                Wallid
                told him about Roots St George. "I used to be pretty sceptical of all martial arts," laughs Jason at his
                initial
                hesitancy to try BJJ, "and then I went to a class. By the end of it, I realised how wrong I was". That
                was eight
                years ago.</p>
              <p>"I've gained so many things from learning BJJ," swears Jason, also the Managing Director of a
                Sydney-based
                construction company, "my fitness and wellbeing are fantastic, I've met some great people along the way,
                and I
                enjoy every second of training."</p>
              <p>With a gold and two silvers to his name at the NSW Jiu Jitsu titles, Jason now says that he wants
                others to
                enjoy Jiu Jitsu as much as he has. "It didn't take long until I got all three of my kids in to
                training," he
                says, "It's something I want them to do for life. But really, it's something that's useful and fun for
                anyone
                and everyone."</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#bjj-accordion" data-target="#james-hampton">
            <h3 class="text-center instructor brown">JAMES HAMPTON</h3>
          </a>
        </h4>
      </div>
      <div id="james-hampton" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-4">
              <img class="img-responsive" src="images/our-team/james-hampton.jpg"/>
            </div>
            <div class="col-md-8">
              <p>1 x Australian Championship Gold<br>
                1 x Australian Championship Silver<br>
                1 x Pan pacific Silver<br>
                2 x NSW State Titles Gold<br>
                4 x NSW State Titles Silver<br>
                1 x Events BJJ Silver<br>
                1 x Events BJJ Bronze<br></p>

              <p>I first took up BJJ in late 2005 after injury forced me out of rugby league which I had played for
                almost 20
                years. My first introduction was a class taught by Paulo, after a friend talked me into checking it out
                due to
                its dominance of the UFC, we sat and watched as Prof. Paulo Guimaraes taught cross lapel chokes... next
                minute
                myself and my 2 friends who joined me are trying this new trick on each other as we walk back to the
                car. One
                week later we were signed up at Roots St George Under Prof Robert Naumoski and were instantly addicted!
                Ever
                since that day I have trained, competed, and travelled to Brazil to learn at some point I found that its
                not
                just a self defence or a sport but a way of life</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#bjj-accordion" data-target="#marko-papuckovski">
            <h3 class="text-center instructor brown">MARKO PAPUCKOVSKI</h3>
          </a>
        </h4>
      </div>
      <div id="marko-papuckovski" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-4">
              <img class="img-responsive" src="images/experience-1.jpg"/>
            </div>
            <div class="col-md-8">
              <p>Marko's love for martial arts started like many other youngsters of the last few generations: obsessing
                over
                Bruce Lee movies. But when he added the fight event Pride to his viewing schedule, it kick-started his
                ambition
                to learn about the sensational art that is Brazilian Jiu Jitsu. "I started training at Roots BJJ as a
                young teen
                after I got my black belt in Tae Kwon Do," recalls Marko, "and it's made me the person I am today". We
                should
                probably break down what kind of person that is exactly.</p>
              <p>Three NSW Championships, an AMMA Welterweight Championship, an Australian Sambo Championship and two
                NSW
                Pankration Championships declare Marko as one of the fiercest and youngest BJJ/MMA competitors around.
                Talk
                about having a bright future.</p>
              <p>When he's not training, he's studying Nutrition Science at university, but still makes time to teach a
                class
                "teaching Jiu Jitsu improves my Jiu Jitsu" he reveals. "I'm always surrounded by positive people like
                Prof.
                Robert Naumoski who take the extra time to sit you down and guide you in the right direction," smiles
                Marko, "I
                love it here."</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#bjj-accordion" data-target="#stojan-kosteski">
            <h3 class="text-center instructor purple">STOJAN KOSTESKI</h3>
          </a>
        </h4>
      </div>
      <div id="stojan-kosteski" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-4">
              <img class="img-responsive" src="images/our-team/stojan-kosteski.jpg"/>
            </div>
            <div class="col-md-8">
              <p>Stojan's resume reflects his passion for teaching. He has 8 years of BJJ experience and is currently
                the 3rd
                state champion in the Purple Belt Division.</p>
              <p>Stojan has also completed a Bachelors Degree in Science (PDHPE) and a Masters in Teaching.</p>
              <p>Stojan's teaching expertise has spans over 5 years and under is guidance Stojan has helped his students
                achieve
                7 under 18s division championships, 3 state championships, 1 Australian championship and 3 Spring cup
                championships.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <h2 class="text-center">THAI BOXING</h2>
  <div class="panel-group" id="muay-thai-accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#muay-thai-accordion" data-target="#rob-ristovski">
            <h3 class="text-center">KRU ROBERT RISTOVSKI
              <small>Head Instructor</small>
            </h3>
          </a>
        </h4>
      </div>
      <div id="rob-ristovski" class="panel-collapse collapse in">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-4">
              <img class="img-responsive" src="images/experience-1.jpg"/>
            </div>
            <div class="col-md-8">
              <p>"I've been at UDA since day dot," laughs Kru Robert, "that was the day I started martial arts." With a
                long
                history at Ultimate Defence Academy, Robert's early years at the gym were marked by competing and
                winning
                State,
                Australian and Pan Pac titles on the Jiu Jitsu circuit. But his real passion was Mixed Martial Arts, and
                soon
                enough he turned his attention to Muay Thai as the obvious next step to fulfill his MMA training.</p>
              <p>"Thai Boxing is no doubt the most effective form of stand up," explains Robert, "The first thing I
                teach my
                students is that it's not about aggression. You need to use your head, and strategise, and show
                technical
                superiority if you're going to win." This is the approach that has led Robert to win gold and silver at
                the
                Amateur MMA Championships in Sydney.</p>
              <p>At the same time, he's very content to divide his time between training and teaching. "I enjoy seeing
                my
                students learn and evolve," says Robert, "Seeing them achieve their goals is really rewarding." And
                that's a
                view that he practices before he preaches.</p>
              <p>"I love having a goal to work towards," Robert reveals of his ongoing plans to compete in more MMA,
                Thai
                Boxing
                and Kickboxing events, "Leading up to a comp I feel really sharp and alive, and training in general is
                almost
                like therapy for me." Watch this space for his upcoming fight events.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#muay-thai-accordion" data-target="#jim-kay">
            <h3 class="text-center">KRU JIM KAY
              <small>Head Instructor</small>
            </h3>
          </a>
        </h4>
      </div>
      <div id="jim-kay" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-4">
              <img class="img-responsive" src="images/experience-1.jpg"/>
            </div>
            <div class="col-md-8">
              <p>Having started his martial arts journey at the age of six, Kru Jim Kay holds quite a few black belts.
                "Jeet
                Kune Do, Tae Kwon Do, Wing Chun, Hapkido, Karate, Boxing," says Jim as he takes a breath, "and
                kickboxing and
                Thai Boxing." He also forgot to mention he holds a blue belt in Jiu Jitsu.</p>
              <p>"I've learned a lot from many different martial arts, but what I felt was lacking was the use of my
                hands,"
                says Jim, "And that's when I took up Thai Boxing." When professional Thai fighters arrived in Australia
                in the
                early 1990s, Jim was among the first to study the art of grappling with them.</p>
              <p>"I felt like a whole new world had opened up, now that I had added elbows and knees to my library of
                weapons,"
                explains Jim.</p>
              <p>Jim became a member of Muay Thai Australia, and the NSW Kickboxing Federation (now the International
                Kickboxing
                Federation), as he divided his time between training and teaching over the next several years. "At UDA,
                we
                want
                you to understand why, when, what and how to use use Muay Thai in any scenario and situation," expresses
                Jim,
                "we break down each main category of Muay Thai. From the correct stance and positions of the hands and
                feet,
                to
                the details of the punch, kick, knee and elbow movements, so that you feel completely comfortable
                performing
                them." </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#muay-thai-accordion" data-target="#jovan-stojanovski">
            <h3 class="text-center">KRU JOVAN "THE STINGER" STOJANOVSKI
              <small>International Guest Instructor</small>
            </h3>
          </a>
        </h4>
      </div>
      <div id="jovan-stojanovski" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-4">
              <img class="img-responsive" src="images/experience-1.jpg"/>
            </div>
            <div class="col-md-8">
              <p>Kru Jovan Stojanovski - the most experienced foreign fighter in Thailand. That title says it all. With
                106
                professional fights on Thai soil alone, Canadian-born legend Jovan has dedicated over a decade of living
                and
                training in Thailand to achieve such status.</p>
              <p>Today, this Muay Thai master spends much of his time travelling the world as an ambassador of the
                martial
                art,
                while continuing to fight professionally. "It's a very respectful sport, and there are so many positive
                principles to benefit from," explains Jovan about what he loves most about Thai Boxing, "You learn to
                discipline
                yourself physically and mentally."</p>
              <p>The results of Jovan's discipline and dedication to the martial art jump off the page of his resume. A
                highly
                decorated fighter, Jovan has had featured fights on all three major Thai television networks. He's faced
                off
                against legendary Olympic gold medalist Somrak Khamsing for the King's Birthday; which is a huge honour
                in
                Thailand. Then there's his incredible fight against Samkar Giat Monthep: 2001 Fighter of the Year at
                Lumpinee
                Stadium. Not to mention, his numerous contests at Ratchadamneon and Om-Noi stadiums.</p>
              <p>These accomplishments are all the more epic, when you realise that compared to Thai standards, Jovan is
                a
                late
                starter in the martial art. But to that comment, Jovan just smiles and says, "well that just meant that
                I
                didn't
                have as much wear and tear as the other fellows." Touche.</p>
              <p>As a coach, Kru Jovan has trained many champions across Europe, Portugal, Thailand, Canada and in
                Australia,
                where he teaches frequently at his base Aussie gym: UDA.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#muay-thai-accordion" data-target="#chris-aiken">
            <h3 class="text-center">CHRIS AIKEN
              <small>Assistant Instructor</small>
            </h3>
          </a>
        </h4>
      </div>
      <div id="chris-aiken" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-4">
              <img class="img-responsive" src="images/experience-1.jpg"/>
            </div>
            <div class="col-md-8">
              <p>Muay Thai was something Chris started after his friend suggested they go to check out UDA: their local
                martial
                arts gym. "I got so into Thai Boxing, that I lost 30 kilos doing it," says Chris, "Training and making
                time
                for
                it every week has really turned my whole life around." </p>
              <p>After Chris met Kru Jovan Stojanovski, he became fully convinced of what was next for him. "Kru Jovan
                inspired
                me to go to Thailand," recounts Chris, "I was training four hours in the morning, four hours at night,
                six
                days
                a week plus privates." That dedication and discipline paid off when Chris won his first professional
                fight on
                that trip.</p>
              <p>"The health and social benefits of Thai Boxing are incredible," attests Chris, "I've made some really
                good
                friends, and I've secured so much confidence and skill, I feel like it's only just the beginning." And
                does
                the
                friend that introduced him still train? "Yeah he does... except I'm his teacher now," he laughs.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
