<div class="row content">
  <h2 class="text-center">JIU JITSU</h2>
  <div class="row">
    <h3 class="text-center instructor black1"></h3>
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <a href="/#/about/instructor/robert-naumoski">
          <h4 class="text-center">PROF. ROBERT NAUMOSKI</h4>
          <img class="img-responsive" src="images/our-team/robert-naumoski.jpg"/>
        </a>
      </div>
    </div>
    <h3 class="text-center instructor black"></h3>
    <div class="row">
      <div class="col-md-4 col-md-offset-2">
        <a href="/#/about/instructor/phillipa-kato">
          <h4 class="text-center">PROF. PHILLIPA KATO</h4>
          <img class="img-responsive" src="images/our-team/profile-na.jpg"/>
        </a>
      </div>
      <div class="col-md-4">
        <a href="/#/about/instructor/steffen-krieg">
          <h4 class="text-center">PROF. STEFFEN KRIEG</h4>
          <img class="img-responsive" src="images/our-team/steffen-krieg.jpg"/>
        </a>
      </div>
    </div>
    <h3 class="text-center instructor brown"></h3>
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <a href="/#/about/instructor/jason-awada">
          <h4 class="text-center">JASON AWADA</h4>
          <img class="img-responsive" src="images/our-team/jason-awada.jpg"/>
        </a>
      </div>
    </div>
    <h3 class="text-center instructor purple"></h3>
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <a href="/#/about/instructor/david-chow">
          <h4 class="text-center">DAVID CHOW</h4>
          <img class="img-responsive" src="images/our-team/profile-na.jpg"/>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <h2 class="text-center">Kick Boxing</h2>
  <div class="row">
    <div class="row">
      <div class="col-md-4 col-md-offset-2">
        <a href="/#/about/instructor/robert-ristovski">
          <h4 class="text-center">KRU ROBERT RISTOVSKI</h4>
          <img class="img-responsive" src="images/our-team/profile-na.jpg"/>
        </a>
      </div>
      <div class="col-md-4">
        <a href="/#/about/instructor/jim-kay">
          <h4 class="text-center">KRU JIM KAY</h4>
          <img class="img-responsive" src="images/our-team/profile-na.jpg"/>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-2">
        <a href="/#/about/instructor/jovan-stojanovski">
          <h4 class="text-center">KRU JOVAN STOJANOVSKI</h4>
          <img class="img-responsive" src="images/our-team/profile-na.jpg"/>
        </a>
      </div>
      <div class="col-md-4">
        <a href="/#/about/instructor/chris-aiken">
          <h4 class="text-center">CHRIS AIKEN</h4>
          <img class="img-responsive" src="images/our-team/profile-na.jpg"/>
        </a>
      </div>
    </div>
  </div>
</div>
