<div class="row content">
  <div class="col-md-4">
    <img class="img-responsive full-image" src="images/facilities-1.jpg"/>
    <img class="img-responsive full-image" src="images/facilities-2.jpg"/>
  </div>


  <div class="col-md-8">

    <h2 class="lead-header ">Our Facilities</h2>
    <h3>Get the most out of UDA, take a look at our world-class facilities</h3>


    <h4>Top quality Thai boxing equipment</h4>
    <p>We've got first-class Fairtex equipment, including kickshields, heavy bags, Thai pads and focus mitts.</p>

    <h4>The Mats</h4>
    <p>With 220 square metres of 50 ml Zebra Tatami mats, and wall-to-wall padding, UDA will provide the safest and most
      comfortable experience for your training.</br>
      You won't want to leave them.</p>

    <h4>Pigeonholes, change rooms and bathrooms</h4>
    <p>Leave your bags and equipment in the pigeonhole shelves and get on with it. We also have sizeable and
      well-maintained bathrooms and change rooms right beside the training area for your convenience.</p>

    <h4>Free car parking</h4>
    <p>We've got so much free public parking in the area, it's gotta be seen to be believed. Cruise on down to our
      contact page to see the list. </p>
  </div>
</div>
