<div class="row content">

  <div class="col-md-4">
    <img class="img-responsive" src="images/st-george.jpg"/>
    <div class="quote">
      <h4><i>"Whether you're interested to learn Jiu Jitsu, or looking for serious competition training, we're just about a positive lifestyle overall."</i> </h4>
      <p>says Robert about Roots St George</p>
    </div>
  </div>

  <div class="col-md-8">
    <p>Part of our formula for Jiu Jitsu is stuck in large letters all over our dojo walls:</p>

    <h3>RESPECT, HONOUR, LOYALTY, FAMILY</h3>
    <h4><i>This is what we are. This is what drives us.</i>i</h4>
    <h4><i>This is what makes us great at what we do.</i></h4>

    <p>Roots St George was founded by Robert Naumoski in 2003, with the goal of teaching martial arts skills that would
      benefit the community. Its culture goes hand-in-hand with healthy living, and views competition as a pathway to
      enhance and refine skills, and build the team spirit. "When I'm coaching someone, it's about getting them to be
      the best they can be," says Robert Naumoski, head instructor at Roots St George, "it's about getting the right
      balance between training and living." </p>

    <p>It's that balance that saw Robert coach two of his students to win the World Professional Jiu Jitsu Championship
      in Abu Dhabi. Steffen Krieg in 2009, and Brian Falzon in 2011 were the first Australian gold medallists at the
      competition. While Steffen won the Gi division, Brian took out the No Gi title, and then snagged the silver in the
      Gi division too.</p>

    <p>Since 2011, the kids at Roots St George have won the NSW State Championships as a team for the last three years
      running. And from this group, Australia's first Kids World Jiu Jitsu champions arose.</p>


    <h4>THE ORIGIN OF 'ROOTS'</h4>

    <p>As the first Brazilian black belt living and teaching in Australia, Paulo Guimaraes founded Roots in 2001, and
      the hardcore Jiu Jitsu guys and girls from around Australia flocked to him. Their story needs to be told, because
      they were the ones that forged Australian Jiu Jitsu history.</p>

    <p>With fierce determination, the Roots team set the benchmark for Australian Jiu Jitsu champion teams. In 2002,
      2003, 2004, 2006 and 2007, they won the NSW BJJ Circuits. In 2003, Paulo led a team of three of his students to
      the World BJJ Championships in Brazil. In an incredible feat that gave Australia its first international Jiu Jitsu
      champions, each of those four Aussies brought home the gold.</p>

    <p>Come 2004, it was deja vu with another three Roots world champions. In 2005 and 2006, the Roots team won the
      National Submission Grappling No Gi Championship. It was official: the future looked bright, brilliant and full of
      promise for the Roots Jiu Jitsu team. As Mestre Jorge Pereira put it: "It's a natural life in Australia, it's
      always great weather here. Australia goes really well with Jiu Jitsu and a healthy lifestyle."</p>


    <h4>UDA THAI BOXING</h4>

    <p>Muay Thai hit UDA hard in 2004 when Elite Stables for Muay Thai, owned by Kru Jim Kay, joined forces with Prof.
      Robert Naumoski; with the objective to set up training grounds that would be a hub for martial arts in the St
      George area. "We started this gym so that we could pass on our knowledge to as many people as possible," affirms
      Jim, "We wanted to empower people with the best methods of self-defence and fitness, and then raise champions from
      them."</p>

    <p>This is a philosophy that Kru Jim passed on to Kru Robert Ristovski in 2007. "When Jim handed the torch to me, I
      had big shoes to fill," says Robert, "he's a fantastic instructor. We've kept that close-knit family environment,
      where everybody wants to reach their maximum potential together."</p>

    <p>You can bet that when you walk in to a UDA Thai Boxing class, you're not going to walk out as the same person.
      Thai Boxing is a martial art that gets you motivated and leaves you needing more. It gets your blood pumping, your
      heart racing, and frees your mind so you can focus on training as you let the noise of the world slip off your
      back.</p>


  </div>
</div>
