<div class="row content">
  <div class="col-md-4">
    <img class="img-responsive full-image" src="images/col-1.jpg"/>
  </div>
  <div class="col-md-8">
    <h3 class="lead-header">Be street-wise:</h3>
    <h4>Mimimum strength with maximum effect</h4>

    <div>
      <p><strong>Jiu jitsu</strong> Through experimenting over the course of a century, its practitioners have
        methodically developed and designed the techniques that enable smaller opponents to overcome larger ones. As a
        martial art, Jiu Jitsu is constantly evolving and always relevant.</p>

      <p>Jiu Jitsu assumes that most of the advantage of a larger or stronger opponent comes from their better reach
        and more powerful strikes. A Jiu Jitsu student can offset this purely physical advantage through techniques
        that are customised for the human body's simple frame of levers.</p>

      <p>A lever is a simple machine used to lift a weight. Leverage is crucial in Jiu Jitsu as it allows us to
        generate more force than our muscles can produce. When you're removing nails with a hammer, using a nutcracker
        to split open a nut, or lifting someone on the other end of the seesaw: you're using levers.</p>

      <p>Science lesson aside, that's the very principle at the core of Jiu Jitsu. The powerful techniques in this
        martial art take shape when we combine our knowledge of leverage, with our natural body weight. Like a game of
        chess, in Jiu Jitsu, it's brains over brawn. </p>
    </div>

    <div>
      <p><strong>Thai Boxing</strong> The incredible effectiveness of this unarmed martial art has been proven by its
        survival over the last thousand years. Its secret - is not so secret. But it sure is unique.</p>

      <p>Muay Thai teaches students the martial uses of each part of the body: imitating the ancient weaponry that
        soldiers used on the battlefield. Its use of two fists, two knees, two elbows and two shins, makes it the
        clear winner over all stand-up martial arts.</p>

      <p>After centuries of war, Thailand's warriors and clans settled to write a manual for warfare, the 'Chupasart'.
        It became the warriors' handbook and a method book for teaching youth. But when the warriors trained the young
        men from this manual for armed combat, they adapted it without weapons. Instead, the shinbone became the staff
        of the pike to block and strike. The arms became the raised twin swords of defence. The fist: the jabbing tip
        of the spear. The elbow and knee turned into battle-axes to cut and crush. The foot: a pike, arrow and
        knife.</p>

      <p>Thai Boxing's use of eight limbs means that you're using your entire body. You're going to get toned, fit,
        tight, lean, svelte, trim, athletic, or any other adjective you can think of to say: the best shape of your
        life. </p>
    </div>
  </div>
</div>
<div class="row">
  <a ng-href="/#/contact"><img class="img-responsive" src="images/free-lesson-banner.png"/></a>
</div>
