<div class="row content">
  <div class="col-md-4">

    <img class="full-image " src="images/col-1.jpg"/>

    <h3>Street-wise defence</h3>
    <h4>Minimum strength with maximum effect</h4>
    <p>
      No, we're not talking about a Hollywood action movie. This is real-world, practical and proven martial
      arts... Jiu Jitsu and Thai Boxing. The incredible effectiveness of these empty-handed martial arts have been
      proven over and over again. Their secrets are not so secret. They're just the best martial arts out there,
      and anyone can master them.
    </p>
    <a ng-href="/#/about/street-wise" class="more">Let us tell you more...</a>
  </div>

  <div class="col-md-4">

    <img class="full-image" src="images/col-2.jpg"/>

    <h3>Fun + Fitness</h3>
    <h4>Get 'fighting fit" in a world-class facility</h4>
    <p>
      Our main focus at UDA is to improve your self-defence skills, while boosting your confidence, health and
      fitness. You're never performing boring exercises on autopilot. </br>At UDA you're actively learning a skill
      for life with a bunch of like-minded people. And you do it all in a facility that will take your breath
      away.
    </p>
    <a ng-href="/#/about/fitness-fun" class="more">Come and check out more...</a>
  </div>

  <div class="col-md-4">

    <img class="full-image" src="images/col-3.jpg"/>
    <h3>Ultimate Lifestyle</h3>
    <h4>Healthy body + mind = ultimate lifestyle</h4>
    <p>
      Learning any new skill is a key component of a happy and healthy lifestyle. When we talk to you about
      fitness and health, we're talking about many different aspects that reflect who a person is - from opting to
      take part in a great community and keeping active, to food preferences and making choices in general. An
      incredibly valuable tool in life is learning how to take control of your body and your mind, in an
      unpredictable situation that you may find yourself in.
    </p>
    <a ng-href="/#/about/ultimate-lifestyle" class="more">Let us explain why...</a>
  </div>
</div>

<div class="row">
  <a ng-href="/#/contact"><img class="img-responsive" src="images/free-lesson-banner.png"/></a>
</div>
