<div id="links">
  <a href="images/media/2014-feb/1.jpg" title="Knife Seminar" data-gallery>
    <img src="images/media/2014-feb/thumbnails/1_tn.jpg" alt="Knife Seminar">
  </a>
  <a href="images/media/2014-feb/2.jpg" title="Knife Seminar" data-gallery>
    <img src="images/media/2014-feb/thumbnails/2_tn.jpg" alt="Knife Seminar">
  </a>
  <a href="images/media/2014-feb/3.jpg" title="Knife Seminar" data-gallery>
    <img src="images/media/2014-feb/thumbnails/3_tn.jpg" alt="Knife Seminar">
  </a>
  <a href="images/media/2014-feb/4.jpg" title="Knife Seminar" data-gallery>
    <img src="images/media/2014-feb/thumbnails/4_tn.jpg" alt="Knife Seminar">
  </a>
  <a href="images/media/2014-feb/5.jpg" title="Knife Seminar" data-gallery>
    <img src="images/media/2014-feb/thumbnails/5_tn.jpg" alt="Knife Seminar">
  </a>
  <a href="images/media/2014-feb/6.jpg" title="Knife Seminar" data-gallery>
    <img src="images/media/2014-feb/thumbnails/6_tn.jpg" alt="Knife Seminar">
  </a>
  <a href="images/media/2014-feb/7.jpg" title="Knife Seminar" data-gallery>
    <img src="images/media/2014-feb/thumbnails/7_tn.jpg" alt="Knife Seminar">
  </a>
  <a href="images/media/2014-feb/8.jpg" title="Knife Seminar" data-gallery>
    <img src="images/media/2014-feb/thumbnails/8_tn.jpg" alt="Knife Seminar">
  </a>
  <a href="images/media/2014-feb/9.jpg" title="Knife Seminar" data-gallery>
    <img src="images/media/2014-feb/thumbnails/9_tn.jpg" alt="Knife Seminar">
  </a>
  <a href="images/media/2014-feb/10.jpg" title="Knife Seminar" data-gallery>
    <img src="images/media/2014-feb/thumbnails/10_tn.jpg" alt="Knife Seminar">
  </a>
  <a href="images/media/2014-feb/11.jpg" title="Knife Seminar" data-gallery>
    <img src="images/media/2014-feb/thumbnails/11_tn.jpg" alt="Knife Seminar">
  </a>
  <a href="images/media/2014-feb/12.jpg" title="Knife Seminar" data-gallery>
    <img src="images/media/2014-feb/thumbnails/12_tn.jpg" alt="Knife Seminar">
  </a>


</div>




<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery" data-use-bootstrap-modal="false">
  <!-- The container for the modal slides -->
  <div class="slides"></div>
  <!-- Controls for the borderless lightbox -->
  <h3 class="title"></h3>
  <a class="prev">‹</a>
  <a class="next">›</a>
  <a class="close">×</a>
  <a class="play-pause"></a>
  <ol class="indicator"></ol>
  <!-- The modal dialog, which will be used to wrap the lightbox content -->
  <div class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" aria-hidden="true">&times;</button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body next"></div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left prev">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Previous
          </button>
          <button type="button" class="btn btn-primary next">
            Next
            <i class="glyphicon glyphicon-chevron-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
