<div class="row content">
    <div class="col-md-4">
        <img class="img-responsive full-image" src="images/ranking-1.jpg"/>
        <img class="img-responsive full-image hidden-xs hidden-sm" src="images/ranking-2.jpg"/>
    </div>
    <div class="col-md-8 ranks">
        <h2 class="lead-header">Roots St.George Rankings</h2>
        <div class="row content">
            <div class="col-md-4">

                <h4 class="black">Black Belt</h4>
                <ul class="list-group">
                    <li>Prof. Robert Naumoski</li>
                    <li>Prof. Phillipa Kato</li>
                    <li>Prof. Steffen Krieg</li>
                    <li>Prof. Tim Ritchie</li>
                </ul>


                <h4 class="brown">Brown Belt</h4>
                <ul class="list-group">

                    <li>Jason Awada</li>
                    <li>Cameron Elder</li>
                    <li>Lucas Tavares</li>
                    <li>James Hampton</li>
                    <li>Tase Trajkovski</li>

                    <li>Wallid Awada</li>
                    <li>Paskal Badzovski</li>
                    <li>Michael Hoffman</li>
                    <li>Marko Papuckovski</li>
                    <li>Alexander Vasilovski</li>
                </ul>

                <h4 class="purple">Purple Belt</h4>
                <ul class="list-group">
                    <li>Ricardo Carmo</li>
                    <li>David Chow</li>
                    <li>Pablo Coppes</li>
                    <li>Tomaz Egiert</li>
                    <li>Cameron Fitzpatrick</li>

                    <li>Simon Kaijage</li>
                    <li>Stoyan Kosteski</li>
                    <li>Denis Kozlov</li>
                    <li>Geoffrey O'Hara</li>
                    <li>Arash Spafiezadeh</li>

                    <li>Jim Spaseski</li>
                    <li>Mendo Stojanovski</li>
                    <li>Alexander Stojkovski</li>
                    <li>Grigor Vichanin</li>

                </ul>

            </div> <!-- col-belt -->
            <div class="col-md-4">

                <h4 class="blue">Blue Belt</h4>
                <ul class="list-group">
                    <li>Kiril Alampieski</li>
                    <li>Kahaled Awada</li>
                    <li>Jessica Bavcangiovski</li>
                    <li>Robert Bevarov</li>
                    <li>Nicole Coppes</li>

                    <li>Sotir Dimitrovski</li>
                    <li>Jim Elder</li>
                    <li>Lauren Gebbie</li>
                    <li>Elvis Gliguroski</li>
                    <li>Erin Herford</li>

                    <li>Oni Kaleti</li>
                    <li>Jimmy Kapadistrias</li>
                    <li>Miro Karevski</li>
                    <li>Jim Kay</li>
                    <li>Rudolf Keil</li>

                    <li>Theo Kyriacou</li>
                    <li>Paul Lee</li>
                    <li>James MacDonald</li>
                    <li>Ferri Malik</li>
                    <li>Nathan Meola</li>

                    <li>Aleksander Mitrevski</li>
                    <li>Daniel Mourad</li>
                    <li>Peco Naumoski</li>
                    <li>Emre Nazlioglu</li>
                    <li>Angela Ndaira</li>

                    <li>Chad Ndaira</li>
                    <li>James Nurka</li>
                    <li>Robert Parmakovski</li>
                    <li>Bojan Petrusevski</li>
                    <li>Angelica Rasmussen</li>

                    <li>Robert Ristovski</li>
                    <li>Daniel Spaseski</li>
                    <li>Jamie Spaseski</li>
                    <li>Malcolm Sumantri</li>
                    <li>Fiona Tzouramanis</li>

                    <li>Michael Yuen</li>
                    <li>Nickolas Zhovanovich</li>
                    <li>Dejan Zmejkoski</li>
                    <li>Henry Zou</li>

                </ul>


            </div> <!-- col-belt -->
            <div class="col-md-4">

                <h4 class="green">Green Belt</h4>
                <ul class="list-group">
                    <li>Peter Apostolovski</li>
                    <li>Christian Iloski</li>
                    <li>Jemma Malik</li>
                    <li>Isabel Naumoska</li>
                </ul>


                <h4 class="orange">Orange Belt</h4>
                <ul class="list-group">
                    <li>Matthew Becvarov</li>
                    <li>Natasha Black</li>
                    <li>Jaedan Garcia</li>
                    <li>Jamie Malik</li>
                    <li>Charlie Ndaira</li>
                    <li>Xavier Ndaira</li>
                    <li>Elijah Sarkis</li>
                    <li>Jelena Tabakovic</li>
                    <li>Jaxson Te Puni</li>
                </ul>

                <h4 class="yellow">Yellow Belt</h4>
                <ul class="list-group">
                    <li>Aleksander Brsakovski</li>
                    <li>Emilija Gliguroska</li>
                    <li>Brandon Gordan</li>
                    <li>Hussein Hammoud</li>
                    <li>Mohammed Hammoud</li>

                    <li>Eunice Kaleti</li>
                    <li>Sean Kaleti</li>
                    <li>Trent Kaleti</li>
                    <li>Zachary Kaleti</li>
                    <li>Marcus Karevski</li>

                    <li>Emily Naumoska</li>
                    <li>Toby Parrot</li>
                    <li>Borce Petrovski</li>
                    <li>Nikola Tabakovic</li>
                    <li>Jamie Velickovski</li>

                    <li>Tyrene Wells</li>

                </ul>

                <h4 class="grey">Grey Belt</h4>
                <ul class="list-group">
                    <li>Antonio Del Vecchio</li>
                    <li>James Del Vecchio</li>
                    <li>Marcello Garcia</li>
                    <li>Noah Dhaira</li>
                    <li>Maya Rowland</li>

                    <li>George Stefanakis</li>
                    <li>Alexander Tosevski</li>
                    <li>Jai Trembath</li>
                    <li>Isabella Velkovski</li>
                    <li>Finn Wood</li>

                </ul>

            </div>
        </div>
        <h2>UDA Thai Boxing Rankings</h2>
        <div class="row">

            <div class="col-md-4">
                <h4 class="black">Black Shirt</h4>
                <ul class="list-group">
                    <li>Kru Robert Ristovski</li>
                    <li>Kru Jim Kay</li>
                </ul>

                <h4 class="brown">Brown Shirt</h4>
                <ul class="list-group">
                    <li>Ken Kulevski</li>
                    <li>Cameron Fitzpatrick-Ramirez</li>
                    <li>Micheal James</li>
                </ul>

                <h4 class="red">Red Shirt</h4>
                <ul class="list-group">
                    <li>Chris Aiken</li>
                    <li>Sharif Hammoud</li>
                    <li>James Hutcheson</li>
                    <li>Phillip Pavlovich</li>
                    <li>Eddie Dawson</li>
                </ul>
            </div>
            <div class="col-md-4">


                <h4 class="blue">Blue Shirt</h4>
                <ul class="list-group">
                    <li>Nathan Davenport</li>
                    <li>Stephanie Gikovski</li>
                    <li>Robert Haynes</li>
                    <li>Thomas Pavlovich</li>
                    <li>Marko Papuckovski</li>
                    <li>Millen Rath-May</li>
                </ul>

                <h4 class="green">Green Shirt</h4>
                <ul class="list-group">
                    <li>Abbas Hussein</li>
                    <li>Andrew Koikas</li>
                    <li>Revin Malik</li>
                    <li>Kristian Radosavljevic</li>
                    <li>Rhys Wilks</li>
                    <li>Nikki Robev</li>
                    <li>Dean Radosavljevic</li>
                    <li>Stefan Radosavljevic</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4 class="yellow">Yellow Shirt</h4>
                <ul class="list-group">
                    <li>Tracy Duggan</li>
                    <li>Moussa Hijazi</li>
                    <li>Andrew Gratchev</li>
                    <li>Sebastian Fletcher</li>
                    <li>Dalibor Radosavljevic</li>
                </ul>

            </div>
        </div>
    </div>
</div>
<div class="row">
    <a ng-href="/#/contact"><img class="img-responsive" src="images/free-lesson-banner.png"/></a>
</div>
